body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: justify;
}

.first-part {
    display: flex;
    margin-bottom: 150px;
}

h1 {
    font-size: 60px;
    width: auto;
    line-height: 40px;
}

a {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 20px;
}

.margin-half {
    width: 50%;
    padding-left: 5%;
}

.margin-half img {
    width: 100%;
}

.second-part {
    display: flex;
    margin-bottom: 700px;
    background-image: url(images/Frame\ 59.jpg);
    background-repeat: no-repeat;
}